<h1>Welcome to RubyFriends!</h1>
<% if user_signed_in? %>
    <div>
        <p> Welcome back</p>
        <%= link_to "Find Friends", friends_path %>
    </div>
<% else %>
    <p>Your friends will be displayed here!</p>
<% end %>
