<div>
  Check out these cool users!
</div>
<div id="friends container">
  <% @friends.each do |friend| %>
  <div id="individualFriend">
    <div>
      <%= friend.profile_name %>
    </div>
    <div>
      <%= friend.description %>
    </div>
  </div>
  <% end %>
</div>