<div>
  Check out these cool users!
</div>
<div id="friends container">
  <% @friends.each do |friend| %>
  <div id="individualFriend">
    <div>
      <%= friend.profile_name %>
    </div>
    <div>
      <%= friend.description %>
    </div>
    <div>
      <%= link_to "User Info", "/user/#{friend.id}" %>
    </div>
  </div>
  <% end %>
  <div>
    <%= button_to "Get new batch", request.original_url, method: :get %>
  </div>
</div>